.games__content {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 35px;
    justify-content: center;
    margin-top: 50px;
}

@media (max-width: 768px) {
    .games__content {
        row-gap: 20px;
        margin-top: 0px;
    }

}