.games {
    margin-top: 50px;
}

.games__list {
    display: flex;
    flex-direction: column;
}

.games__content {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 35px;
    justify-content: center;
}

.games__btn {
    background: var(--color-gradient-blue);
    width: 280px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border-radius: var(--border-radius);
    padding: 15px 0px;
    font-weight: 600;
    font-size: 20px;
    color: var(--color-white);
    margin-top: 30px;
    margin-bottom: 50px;
    column-gap: 5px;
}

.spinner {
    width: 100px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 50px;
}

@media (max-width: 1024px) {
    .games {
        margin-top: 30px;
    }

    .games__list {
        column-gap: 20px;
        row-gap: 25px;
    }
}

@media (max-width: 768px) {
    .games {
        margin-top: 30px;
    }

    .games__list {
        column-gap: 20px;
        row-gap: 25px;
    }

    .games__btn {
        width: 220px;
        padding: 12px 0px;
        font-size: 18px;
    }

    .games__content {
        row-gap: 20px;
    }
}

@media (max-width: 425px) {
    .games {
        margin-top: 20px;
    }

    .games__list {
        column-gap: 10px;
        row-gap: 25px;
    }

    .games__btn {
        margin-top: 0px;
        margin-bottom: 50px;
        width: 220px;
        padding: 11px 0px;
        font-size: 16px;
    }

    .spinner {
        margin-top: 0px;
        width: 65px;
    }
}