:root {
    --container-width: 1460px;
    --container-padding-x: 24px;
    --container-padding-mobile-x: 16px;

    --font-family: 'Montserrat', sans-serif;

    --color-white: #ebebeb;
    --color-black: #101010;
    --color-black-alt: #1A1A1A;
    --color-grey: #282828;
    --color-gradient-blue: linear-gradient(50deg, #315ebe 0%, #18264a 100%);

    --border-radius: 6px;

    --transition-duration: 0.2s;
}