.fav {
    margin-top: 50px;
}

.fav__list {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.no {
    font-size: 18px;
}

.fav__content {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 35px;
    justify-content: center;
}

@media (max-width: 1024px) {
    .fav {
        margin-top: 30px;
    }

    .fav__list {
        column-gap: 20px;
        row-gap: 25px;
    }
}

@media (max-width: 768px) {
    .fav {
        margin-top: 30px;
    }

    .fav__list {
        column-gap: 20px;
        row-gap: 25px;
    }

    .fav__content {
        row-gap: 20px;
    }
}

@media (max-width: 425px) {
    .fav {
        margin-top: 20px;
    }

    .fav__list {
        column-gap: 10px;
        row-gap: 25px;
    }
}